/*****************/
/* MAIN */
/*****************/
    /*---------------*/
    /* GENERAL */
    /*---------------*/
.row{
    display: flex;
}
.column1{
    min-width: 250px;
    max-width: 500px;
    flex: 30%;
}
.column2{
    flex: 70%;
}

section{
    height:100vh;
}

    /*---------------*/
    /* SECTION 1*/
    /*---------------*/
#titel, .topName, #projects_h1, #contact_h1{
    display: inline-block;
    background-color: var(--backgroundColor);
    background-image: var(--backgroundGradient);
    padding:5px;
    padding-left:50px;
    margin-left:-50px;
    width: 250px;
    margin-top: 15px;
}

.section1, .section2, .section3, .section4{
    padding-left: 45px;
    background-image: url(/pictures/background/dust_scratches.png);
}

.section1{
    
}
.section2{
}
.section3{

}
.section4{

}

#testtable{
    font-size: 30px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 20px;
    text-align: center;
    color:var(--header);
    margin-left:15%;
    background-color:white;
    border-radius: 15px;
}
td{
    width: 80px;
    font-size: 25px;
}


#testFont{
    font-size:25px;
    margin-left: 15%;   
    /*
    
     background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    
    */
}

#email2{
    background-color: white;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    display: inline;

}
#phone2 {

    background-color: white;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    display: inline;


}
#City{
    background-color: white;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    display: inline;


}
#Country{
    background-color: white;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    display: inline;
   

}

.test{
    background-color: white;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    display: inline;

}
.whiteArray{
    background-color: white;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    display: inline;
    
}