:root{
    --header:#1e1e1c;
    --section:#f5f5f5;
    --fontcolor:#ffffff;
    --shadow:2px 0px 6px 1px rgba(0,0,0,0.4);
    --backgroundColor: #e288f9;
    --backgroundGradient: linear-gradient(315deg, #e288f9 0%, #ffc988 74%);
}

*{
    margin:0;
    padding:0;
}
html{
    width: 100%;
}
body{
    /* max-width: 1280px; */
    background-color: var(--backgroundColor);
    background-image: var(--backgroundGradient);
    box-shadow: var(--shadow);
}

h1,h2,h3,h4,h5,h6,p,a{
    font-family: 'Raleway';
}

/* latin-ext */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptug8zYS_SKggPNyCMIT5lu.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptug8zYS_SKggPNyC0ITw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

